// colors

$primary: #88C1CF;
$secondary: #BBACD8;
$tertiary: rgb(232, 10, 121);
// #F7B4D8;
$quaternary: #098CE5;
$quinary: #084b6d;

$white: #FFF;
$black: #000;

// fonts
//TODO: FIND FONTS
// $font
$baseFontSize: 1rem;
