@use "../utilities/variables" as *;

.navBar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $primary;
  border-bottom: 1px solid $quinary;

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .logo h2 {
      &:hover,
      &:focus {
        color: $tertiary;
        transition: .5s;
      }
    }
  }
}

.slideOutNav {
  padding: 35px 50px;
  border-right: 2px solid $quinary;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  background-color: $primary;
  color: $white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -300px; //Hides slide out Nav. onclick left: 0px
  z-index: 20;
  transition: 0.75s;

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 10px 0 10px 20px;
    }
  }

  .mainMenu a {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding: 1rem
  }
}